<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <!--Web Video Caster-->
        <package android:name="com.instantbits.cast.webvideo" />
        <!--QQ浏览器-->
        <package android:name="com.tencent.mtt" />
        <!--VLC-->
        <package android:name="org.videolan.vlc" />
        <!--XPlayer-->
        <package android:name="video.player.videoplayer" />
        <!--UC国际版-->
        <package android:name="com.UCMobile.intl" />
        <!--UC浏览器-->
        <package android:name="com.UCMobile" />
        <!--Kodi-->
        <package android:name="org.xbmc.kodi" />
        <!--kmplayer-->
        <package android:name="com.kmplayer" />
        <!--kmplayer-->
        <package android:name="com.kmplayerpro" />
        <!--MoboPlayer-->
        <package android:name="com.clov4r.android.nil" />
        <!--MXPlayer-->
        <package android:name="com.mxtech.videoplayer.pro" />
        <!--MXPlayer-->
        <package android:name="com.mxtech.videoplayer.ad" />
        <!--弹弹Play-->
        <package android:name="com.xyoye.dandanplay" />
        <!--Lua Player-->
        <package android:name="ms.dev.luaplayer_pro" />
        <!--nPlayer-->
        <package android:name="com.newin.nplayer.pro" />

        <!--全能下载器-->
        <package android:name="com.nick.download" />
        <!--IDM-->
        <package android:name="idm.internet.download.manager.plus" />
        <!--闪电下载器-->
        <package android:name="com.flash.download" />
        <!--m3u8loader-->
        <package android:name="ru.yourok.m3u8loader" />
        <!--ADM-->
        <package android:name="com.dv.adm" />
        <!--ADM-->
        <package android:name="com.dv.adm.pay" />
        <!--FDM-->
        <package android:name="org.freedownloadmanager.fdm" />
        <!--Reex-->
        <package android:name="xyz.re.player.ex" />
        <!--波澜工具箱-->
        <package android:name="com.hiker.bolanassist" />
        <!--阿里云盘-->
        <package android:name="com.alicloud.databox" />
        <!--嗅觉浏览器-->
        <package android:name="com.hiker.youtoo" />
        <!--海阔视界-->
        <package android:name="com.example.hikerview" />
        <package android:name="com.example.hikerview.dev" />
        <!--TTS-->
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问wifi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许修改网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许修改wifi状态的权限 -->
    <!--在SDCard中创建与删除文件权限  -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!--  访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 扫描二维码所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stage"
        tools:targetApi="tiramisu">
        <!-- 告知 XXPermissions 当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
        <activity
            android:name=".HolderActivity"
            android:exported="false"
            android:label="@string/title_activity_holder"
            android:theme="@style/Theme.Stage.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|uiMode|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Stage.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="mozilla.components.pwa.category.SHORTCUT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
            </intent-filter>
        </activity>

        <activity
            android:name=".download.FileBrowserActivity"
            android:theme="@style/TranslucentFullScreenTheme" />
        <activity
            android:name=".dlan.MediaPlayActivity"
            android:screenOrientation="portrait" />

        <service android:name=".dlan.DlanForegroundService" />

        <service
            android:name="com.qingfeng.clinglibrary.service.ClingUpnpService"
            android:exported="false" />
        <service
            android:name="com.qingfeng.clinglibrary.service.SystemService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.mozilla.xiu.browser.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>